<footer class="bg-gray-800 dark:bg-gray-900 text-white p-4 flex justify-between container mx-auto">
    <p class="justify-start">Desarrolló LFA</p>
    <p class="justify-end">&copy; Año 2024</p>
</footer>