<!-- Main Content -->
    <div class="relative flex-grow flex items-center justify-center">
        <!-- Background Image -->
        <div class="absolute inset-0 bg-cover bg-center opacity-70" style="background-image: url('/images/marvel-avengers_862x485.jpg');"></div>
        <!-- Overlay -->
        <div class="absolute inset-0 bg-black bg-opacity-50"></div>
        <!-- Center Content -->
        <div class="relative z-10 flex justify-center items-center h-full">
            <a href="./heroes/dashboard" class="bg-red-500 hover:bg-red-700 text-white text-2xl font-bold py-4 px-8 rounded shadow-lg transition">
                Ir a Superhéroes
            </a>
        </div>
    </div>